<div>
    <mat-label class="margin-bottom-small">Filtre</mat-label>
    <mat-chip-list #chipList aria-label="labelSelection">
        <mat-chip *ngFor="let label of availableLabels">{{ label }}</mat-chip>
    </mat-chip-list>
</div>
<mat-form-field>
  <mat-label>Selected label</mat-label>
  <mat-chip-list>
      <mat-chip
        *ngFor="let label of retainedLabels"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="removeFilter(label)">
        {{label}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        #labelInput
        [formControl]="labelCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addFilter($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let label of filteredLabels | async" [value]="label">
        {{label}}
      </mat-option>
  </mat-autocomplete>
</mat-form-field>