.container {
    height: 100%;
    display: flex;
}

app-sidebar {
    background-color: lightgrey;
}

.drawing-container {
    overflow: auto;
    flex: 1 1 auto;
    background-color: lightslategrey;
}

.drawing {
    display: grid;
    width: min-content;
    outline: none;
}
