.container {
    height: 100%;
    display: flex;
}

app-sidebar {
    background-color: lightgrey;
}

.drawing-container {
    overflow: auto;
    flex: 1 1 auto;
    background-color: lightslategrey;
}

.drawing {
    display: grid;
    width: min-content;
    outline: none;
}

app-colour-picker {
    position: absolute;
    z-index: 3;
    left: 235px;
    top: 525px;
}
