.container {
    position: relative;
    display: flex;
    height: 100%;
}

app-sidebar {
    position: relative;
    background-color: lightgrey;
    overflow: auto;
}

.drawing-container {
    overflow: auto;
    flex: 1 1 auto;
    background-color: lightslategrey;
}

.drawing {
    display: grid;
    width: min-content;
    outline: none;
}

app-colour-picker {
    position: absolute;
    z-index: 3;
    left: 235px;
    top: 225px;
}


::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}
