<div class="container">
    <h1 class="header-item">Application de dessin au nom très original</h1>

    <button mat-raised-button color="primary" class="button" routerLink="/editor" (click)="resetCanvasDimensions()">Créer un nouveau dessin</button>
    <button mat-raised-button color="primary" class="button" (click)="openCarousel()">Ouvrir le carrousel de dessins</button>
    <button mat-raised-button color="primary" class="button" *ngIf="drawingIsSavedLocally()" (click)="loadMostRecentDrawing()" routerLink="/editor">
        Continuer un dessin
    </button>

    <div class="footer-item">
        <h4 class="team-name">L'Équipe 201</h4>
        <mat-chip-list>
            <mat-chip>Émile Dumas</mat-chip>
            <mat-chip>Charles Fakih</mat-chip>
            <mat-chip>Clément Gassmann-Prince</mat-chip>
            <mat-chip>Félix Duguay</mat-chip>
            <mat-chip>Mady Semega</mat-chip>
            <mat-chip>Samuel Lavallée</mat-chip>
        </mat-chip-list>
    </div>
</div>
<div>
    Icons made by <a href="https://www.flaticon.com/authors/alfredo-hernandez" title="Alfredo Hernandez">Alfredo Hernandez</a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div>
<div>
    Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div>
<div>
    Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div>
<div>
    Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div>
