<div class="container">
    <h1 class="header-item">Bienvenue au cours {{ title }}</h1>

    <button class="button" routerLink="/editor" (click)="resetCanvasDimensions()">Créer un nouveau dessin</button>
    <button class="button" routerLink="">Ouvrir le carrousel de dessins</button>
    <button class="button" *ngIf="false">Continuer un dessin</button>

    <div class="footer-item">
        <h4 class="team-name">Équipe 201</h4>
        <p>Émile Dumas, Charles Fakih, Clément Gassmann-Prince, Félix Duguay, Mady Semega, Samuel Lavallée</p>
    </div>
    <app-colour-palette></app-colour-palette>
</div>
