.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    height: auto;

    color: white;
    background-color: rgb(0, 56, 105);
}

.button {
    margin-top: 10px;
    text-align: center;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 1.00em;
}

.header-item {
    justify-content: center;
    text-align: center;
}

.footer-item {
    text-align: center;

    margin: 42px;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}