/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  }

[class*="mat-"]{
    color: white;
}

//from https://stackoverflow.com/questions/58057900/how-can-i-display-thumb-label-all-the-time-for-material-slider
.mat-slider-thumb-label { 
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
    background-color: rgba(228, 37, 37, 0.733) !important;
  }

.mat-accent .mat-slider-track-fill {
    background-color: rgb(230, 255, 6);
}  

.mat-slider-thumb {
    transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
    opacity: 1 !important;
}
//end from

.custom-modalbox{
    mat-dialog-container {
        background-color: rgba(18, 37, 59, 0.932);
    }
}
  

// Orientation

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

// Alignment

.center {
    margin: auto;
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

// Margins

.margin-bottom-small {
    margin-bottom: 24px;
}

.margin-top-small {
    margin-top: 24px;
}

.margin-right-small {
    margin-right: 24px;
}

.margin-left-small {
    margin-left: 24px;
}