<div class="container">
    <div class="colour-section">
        <mat-label>Couleur</mat-label>
        <app-colours class="vertical"></app-colours>
    </div>

    <mat-divider></mat-divider>

    <div class="vertical">
        <mat-label>Historique</mat-label>
        <div class="center">
            <app-history-controls></app-history-controls>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div>
        <app-ellipse-tool-configuration class="vertical" *ngIf="selectedToolName === 'ellipse'"> </app-ellipse-tool-configuration>
        <app-pencil-tool-configuration class="vertical" *ngIf="selectedToolName === 'pencil'"> </app-pencil-tool-configuration>
        <app-eraser-tool-configuration class="vertical" *ngIf="selectedToolName === 'eraser'"> </app-eraser-tool-configuration>
        <app-spray-tool-configuration class="vertical" *ngIf="selectedToolName === 'spray'"> </app-spray-tool-configuration>
        <app-rectangle-tool-configuration class="vertical" *ngIf="selectedToolName === 'rectangle'"> </app-rectangle-tool-configuration>
        <app-pipette-tool-configuration class="vertical" *ngIf="selectedToolName === 'pipette'"> </app-pipette-tool-configuration>
        <app-line-tool-configuration class="vertical" *ngIf="selectedToolName === 'line'"></app-line-tool-configuration>
        <app-polygon class="vertical" *ngIf="selectedToolName === 'polygon'"></app-polygon>
        <app-stamp class="vertical" *ngIf="selectedToolName === 'stamp'"></app-stamp>
        <app-text-tool-configuration class="vertical" *ngIf="selectedToolName === 'text'"></app-text-tool-configuration>
        <app-paint-bucket-tool-configuration class="vertical" *ngIf="selectedToolName === 'paint-bucket'"></app-paint-bucket-tool-configuration>
    </div>

    <mat-divider></mat-divider>

    <div>
        <mat-label>Sélection</mat-label>
        <div class="center">
            <app-clipboard></app-clipboard>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div>
        <mat-label>Magnétisme</mat-label>
        <app-magnetism></app-magnetism>
    </div>

</div>
