

.container {
    margin: 12px;
    border-radius: 1%;
    padding: 25px;
}

mat-divider {
    margin-top: 12px;
    margin-bottom: 12px;
}

mat-card {
    background-color: rgb(228, 228, 228);

    margin-top: 12px;
    margin-bottom: 12px;
}

.colour-section {
    position: relative;
    margin-top: 10px;
    height: 150px;
    padding: auto;
}

