#container{
    margin-top: 5%;
}

.description{
    color: white;
}

.icon{
    color: white;
}

#toggle{
    margin-top: 6%;
}

::ng-deep .mat-menu-content{
    background-color:rgba(18, 37, 59, 0.932);
  }

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgb(230, 255, 6);
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: rgba(228, 37, 37, 0.733);
}
.spacing{
    margin-top: 5%;
    margin-bottom: 10%;
}

#text{
    font-size: 13px;
}

#rectangle{
    height: 50px;
    border: 3px dotted rgb(136,136,136);
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.horizontal-container{
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
}

.resizingButton {
    
    border: black 1px solid;
    height: 8px;
    width: 8px;
    background-color: teal;
    z-index: 2;
    border-radius: 50%;
}

.resizingButton:active {
    transition: 0.25ms;
    background-color: rgb(230, 255, 6);
}

.resizingButton {
    transition: 0.5s;
    background-color: teal;
}

#top-middle {
    transform: translate(0, -50%);
}

#top-left {
    transform: translate(-50%, -50%);
}

#top-right {
    transform: translate(50%, -50%);
}

#middle-left {
    transform: translate(-50%, 0%);
}

#middle-right {
    transform: translate(50%, 0%);
}

#bottom-middle {
    transform: translate(0, 50%);
}

#bottom-left {
    transform: translate(-50%, 50%);
}

#bottom-right {
    transform: translate(50%, 50%);
}
