<div id="magnetisme" *ngIf='this.toolSelector.getActiveSelectionTool()!=undefined'>
    <mat-label>Magnétisme</mat-label>
    <div class="center spacing">
        <mat-slide-toggle id="toggle" matTooltip="Magnétisme (M)" [ngModel]="isMagnetismActivated"
            (ngModelChange)="isMagnetismActivated = $event; notifyManipulators();">
        </mat-slide-toggle>
    </div>

    <div *ngIf="isMagnetismActivated == true">
        <p id="text">
            Point d'ancrage:
        </p>

        <div id="rectangle">
            <div class="horizontal-container">
                <div id="top-left" class="resizingButton upperRow"
                    [class.yellow]="getCurrentGridAnchor()==gridMovementAnchor.topL" (click)='setGridAnchor(0)'></div>
                <div id="top-middle" class="resizingButton upperRow"
                    [class.yellow]="getCurrentGridAnchor()==gridMovementAnchor.topM" (click)='setGridAnchor(7)'></div>
                <div id="top-right" class="resizingButton upperRow"
                    [class.yellow]="getCurrentGridAnchor()==gridMovementAnchor.topR" (click)='setGridAnchor(6)'></div>
            </div>
            <div class="horizontal-container">
                <div id="middle-left" class="resizingButton"
                    [class.yellow]="getCurrentGridAnchor()==gridMovementAnchor.middleL" (click)='setGridAnchor(1)'>
                </div>
                <div id="middle-middle" class="resizingButton"
                    [class.yellow]="getCurrentGridAnchor()==gridMovementAnchor.center" (click)='setGridAnchor(8)'></div>
                <div id="middle-right" class="resizingButton"
                    [class.yellow]="getCurrentGridAnchor()==gridMovementAnchor.middleR" (click)='setGridAnchor(5)'>
                </div>
            </div>
            <div class="horizontal-container">
                <div id="bottom-left" class="resizingButton lowerRow"
                    [class.yellow]="getCurrentGridAnchor()==gridMovementAnchor.bottomL" (click)='setGridAnchor(2)'>
                </div>
                <div id="bottom-middle" class="resizingButton lowerRow"
                    [class.yellow]="getCurrentGridAnchor()==gridMovementAnchor.bottomM" (click)='setGridAnchor(3)'>
                </div>
                <div id="bottom-right" class="resizingButton lowerRow"
                    [class.yellow]="getCurrentGridAnchor()==gridMovementAnchor.bottomR" (click)='setGridAnchor(4)'>
                </div>
            </div>
        </div>
    </div>
</div>

<mat-divider></mat-divider>

<div id="grille">
    <div>
        <mat-label>Grille</mat-label>
    </div>
    <div class="center">
        <mat-slide-toggle id="toggleGrid" [ngModel]="isGridActivated"
            (ngModelChange)="isGridActivated = $event; notifyGrid(); toggleGrid();"></mat-slide-toggle>
    </div>
    <div class="vertical">
        <mat-label class="margin-bottom-small">Largeur de la grille</mat-label>
        <mat-slider thumbLabel matTooltip="Largeur de la grille" matTooltipPosition="right" step="5" min="10" max="100"
            [value]="gridCellSize" (valueChange)="gridCellSizeChange($event)">
        </mat-slider>
    </div>
    <div class="vertical">
        <mat-label class="margin-bottom-small">Opacite de la grille</mat-label>
        <mat-slider thumbLabel matTooltip="Opacite de la grille" matTooltipPosition="right" step="5" min="10" max="100"
            [value]="opacite" (valueChange)="opaciteChange($event)">
        </mat-slider>
    </div>
</div>