<div id="container">
    <div class ="center">
        <button mat-icon-button [matMenuTriggerFor]="menuBottom" aria-label="Example icon-button with a menu">
            <mat-icon>border_bottom</mat-icon>
        </button>
        <mat-menu #menuBottom="matMenu">
            <button mat-menu-item (click)='setGridAnchor(2)'>
                <mat-icon class="icon" >border_left</mat-icon>
                <span class="description">Bottom Left</span>
            </button>
            <button mat-menu-item (click)='setGridAnchor(3)'>
                <mat-icon class="icon" >border_vertical</mat-icon>
                <span class="description">Bottom Middle</span>
            </button>
            <button mat-menu-item (click)='setGridAnchor(4)'>
                <mat-icon class="icon" >border_right</mat-icon>
                <span class="description">Bottom Right</span>
            </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="menuMiddle" aria-label="Example icon-button with a menu">
            <mat-icon>border_horizontal</mat-icon>
        </button>
        <mat-menu #menuMiddle="matMenu">
            <button mat-menu-item (click)='setGridAnchor(1)'>
                <mat-icon class="icon" >border_left</mat-icon>
                <span class="description">Middle Left</span>
            </button>
            <button mat-menu-item (click)='setGridAnchor(8)'>
                <mat-icon class="icon" >border_vertical</mat-icon>
                <span class="description">Middle</span>
            </button>
            <button mat-menu-item (click)='setGridAnchor(5)'>
                <mat-icon class="icon" >border_right</mat-icon>
                <span class="description">Middle Right</span>
            </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="menuTop" aria-label="Example icon-button with a menu">
            <mat-icon>border_top</mat-icon>
        </button>
        <mat-menu #menuTop="matMenu">
            <button mat-menu-item (click)='setGridAnchor(0)'>
                <mat-icon class="icon" >border_left</mat-icon>
                <span class="description">Top Left</span>
            </button>
            <button mat-menu-item (click)='setGridAnchor(7)'>
                <mat-icon class="icon" >border_vertical</mat-icon>
                <span class="description">Top Middle</span>
            </button>
            <button mat-menu-item (click)='setGridAnchor(6)'>
                <mat-icon class="icon" >border_right</mat-icon>
                <span class="description">Top Right</span>
            </button>
        </mat-menu>
    </div>
    <div class="center">
        <mat-slide-toggle id="toggle" (click)='toggleMagnetism()'></mat-slide-toggle>
    </div>
    <mat-divider></mat-divider>
    <div>
        <mat-label>Grille</mat-label>
        <div class="center">
        </div>
    </div>
    <div class="center">
        <mat-slide-toggle id="toggle2" (click)='toggleGrid()'></mat-slide-toggle>
    </div>
    <div class="vertical">
        <mat-label class="margin-bottom-small">Largeur de la grille</mat-label>
        <mat-slider thumbLabel
                    matTooltip="Largeur de la grille"
                    matTooltipPosition="right"
                    step="5"
                    min="10"
                    max="100"
                    [value]="gridCellSize"
                    (valueChange)="gridCellSizeChange($event)">
        </mat-slider>
    </div>
    <div class="vertical">
        <mat-label class="margin-bottom-small">Opacite de la grille</mat-label>
        <mat-slider thumbLabel
                    matTooltip="Opacite de la grille"
                    matTooltipPosition="right"
                    step="5"
                    min="10"
                    max="100"
                    [value]="opacite"
                    (valueChange)="opaciteChange($event)">
        </mat-slider>
    </div>
</div>