<div id="canvas-container" onContextMenu="return false">
    <canvas id="canvas" #baseCanvas [attr.width]="resizeWidth" [attr.height]="resizeHeight" ondragstart="return false"></canvas>
    <canvas id="previewLayer" #previewCanvas [attr.width]="width" [attr.height]="height" ondragstart="return false"> </canvas>
    <div
        id="rightDown"
        draggable="false"
        class="resizingButton"
        [style.top.px]="resizeHeight"
        [style.left.px]="resizeWidth"
        [ngStyle]="{ cursor: 'nwse-resize' }"
        (mousedown)="activateResizer('rightDown')"
        (click)="(disableResizer)"
        (dblclick)="(disableResizer)"
        ondragstart="return false"
    ></div>
    <div
        id="down"
        class="resizingButton"
        draggable="false"
        [style.top.px]="resizeHeight"
        [style.left.px]="resizeWidth / 2"
        [ngStyle]="{ cursor: 'ns-resize' }"
        (mousedown)="activateResizer('down')"
        (click)="(disableResizer)"
        (dblclick)="(disableResizer)"
        ondragstart="return false"
    ></div>
    <div
        id="right"
        class="resizingButton"
        draggable="false"
        [style.top.px]="resizeHeight / 2"
        [style.left.px]="resizeWidth"
        [ngStyle]="{ cursor: 'ew-resize' }"
        (mousedown)="activateResizer('right')"
        (click)="(disableResizer)"
        (dblclick)="(disableResizer)"
        ondragstart="return false"
    ></div>
    <app-ellipse-selection></app-ellipse-selection>
    <app-rectangle-selection></app-rectangle-selection>
    <app-lasso-selection></app-lasso-selection>
    <canvas id="gridLayer" style="z-index: 3;" #gridCanvas [attr.width]="width" [attr.height]="height" ondragstart="return false"> </canvas>
</div>


