<mat-label>Taille de la police</mat-label>
<mat-slider thumbLabel
            matTooltip="Taille de la police"
            matTooltipPosition="right"
            step="12" min="12" max="150"
            [value]="fontSize"
            (valueChange)="updateFontSize($event)">
</mat-slider>

<mat-form-field appearance="fill">
    <mat-label>Police d'écriture</mat-label>
    <mat-select [value]="fontName" (valueChange)="updateFontName($event)">
        <mat-option value="Arial">Arial</mat-option>
        <mat-option value="Verdana">Verdana</mat-option>
        <mat-option value="Tahoma">Tahoma</mat-option>
        <mat-option value="Trebuchet MS">Trebuchet MS</mat-option>
        <mat-option value="Times New Roman">Times New Roman</mat-option>
        <mat-option value="Georgia">Georgia</mat-option>
        <mat-option value="Garamond">Garamond</mat-option>
        <mat-option value="Courier New">Courier New</mat-option>
    </mat-select>
</mat-form-field>

<mat-slide-toggle [ngModel]="fontIsBold" (ngModelChange)="updateFontIsBold($event)">Gras</mat-slide-toggle>
<br>
<mat-slide-toggle [ngModel]="fontIsItalic" (ngModelChange)="updateFontIsItalic($event)">Italique</mat-slide-toggle>
<br>
<mat-button-toggle-group [(value)]="alignment">
    <mat-button-toggle value="left" aria-label="Text align left">
      <mat-icon>format_align_left</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="center" aria-label="Text align center">
      <mat-icon>format_align_center</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="right" aria-label="Text align right">
      <mat-icon>format_align_right</mat-icon>
    </mat-button-toggle>
</mat-button-toggle-group>