<h2 mat-dialog-title>Exporter le dessin</h2>

<div>
    <mat-form-field appearance="fill">
        <mat-label>Nom du dessin</mat-label>
        <input matInput #nameInput (keyup)="changeName($event)" />
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance="fill">
        <mat-label>Format du dessin</mat-label>
        <mat-select (selectionChange)="updateImageFormat($event)">
            <mat-option value="png">PNG</mat-option>
            <mat-option value="jpg">JPG</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance="fill">
        <mat-label>Filtre</mat-label>
        <mat-select (selectionChange)="updatePreviewImage($event)">
            <mat-option value="grayscale(100%)">Noir et blanc</mat-option>
            <mat-option value="invert(100%)">Inversé</mat-option>
            <mat-option value="hue-rotate(90deg)">Rotation des couleurs</mat-option>
            <mat-option value="blur(5px)">Brouillé</mat-option>
            <mat-option value="sepia(1)">Sepia</mat-option>
            <mat-option value="none">Aucun filtre</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<canvas #previewCanvas hidden></canvas>
<canvas #imageCanvas></canvas>

<div>
    <mat-dialog-actions>
        <a #downloadLink id="download" download="this.imageName + this.imageFormat"><button mat-button (click)="downloadImage()">Exporter</button></a>
        <button mat-button mat-dialog-close>Annuler</button>
    </mat-dialog-actions>
</div>
