<div class="container vertical">
    <div class="navbar-section vertical">
        <mat-divider></mat-divider>
        <button mat-icon-button aria-label="Accueil" matTooltip="Accueil" matTooltipPosition="right" routerLink="/home" (click)="this.deselect()">
            <mat-icon>home</mat-icon>
        </button>
        <button
            mat-icon-button
            aria-label="Créer un nouveau dessin"
            matTooltip="Créer un nouveau dessin (Ctrl+o)"
            matTooltipPosition="right"
            (click)="createNewDrawing()"
            [disabled]="this.drawingService.canvasIsEmpty"
        >
            <mat-icon>add_box</mat-icon>
        </button>
        <button
            mat-icon-button
            aria-label="Exporter le dessin"
            matTooltip="Exporter le dessin (Ctrl+e)"
            matTooltipPosition="right"
            (click)="this.exportDrawing()"
        >
            <mat-icon>ios_share</mat-icon>
        </button>

        <button
            mat-icon-button
            aria-label="Sauvegarder le dessin"
            matTooltip="Sauvegarder le dessin (Ctrl+s)"
            matTooltipPosition="right"
            (click)="this.saveDrawing()"
        >
            <mat-icon>save</mat-icon>
        </button>

    </div>

    <mat-divider></mat-divider>

    <div class="navbar-section vertical">
        <button
            *ngFor="let toolName of toolNames"
            [ngClass]="{ selected: selectedToolName === toolName }"
            (click)="selectTool(toolName)"
            mat-icon-button
            [matTooltip]="getTooltipInfo(toolName)"
            matTooltipPosition="right"
        >
            <mat-icon [svgIcon]="getIconName(toolName)"></mat-icon>
        </button>
    </div>
</div>
