.container {
    min-height: 98vh;
    padding: 0 5px 0 5px;
    margin-right: 5px;
    margin-top: 36px;
}

.selected {
    background: rgb(70, 63, 173);
}

.navbar-section {
    margin-top: 12px;
    margin-bottom: 12px;
}