<div class="container vertical">
    <div class="navbar-section vertical">
        <button mat-icon-button aria-label="Accueil" matTooltip="Accueil" matTooltipPosition="right" routerLink="/home">
            <mat-icon>home</mat-icon>
        </button>
        <button
            mat-icon-button
            aria-label="Créer un nouveau dessin"
            matTooltip="Créer un nouveau dessin"
            matTooltipPosition="right"
            (click)="createNewDrawing()"
            [disabled]="this.drawingService.canvasIsEmpty"
        >
            <mat-icon>add_box</mat-icon>
        </button>
    </div>

    <mat-divider></mat-divider>

    <div class="navbar-section vertical">
        <button
            *ngFor="let toolName of toolNames"
            [ngClass]="{ selected: selectedToolName === toolName }"
            (click)="selectTool(toolName)"
            mat-icon-button
            [matTooltip]="getTooltipInfo(toolName)"
            matTooltipPosition="right"
        >
            <mat-icon [svgIcon]="getIconName(toolName)"></mat-icon>
        </button>
    </div>
    <div class="navbar-section vertical">
        <app-ellipse-tool-configuration class="vertical" *ngIf="selectedToolName === 'ellipse'"></app-ellipse-tool-configuration>
        <app-pencil-tool-configuration class="vertical" *ngIf="selectedToolName === 'pencil'"></app-pencil-tool-configuration>
        <app-eraser-tool-configuration class="vertical" *ngIf="selectedToolName === 'eraser'"></app-eraser-tool-configuration>
        <app-rectangle-tool-configuration class="vertical" *ngIf="selectedToolName === 'rectangle'"></app-rectangle-tool-configuration>
        <app-line-tool-configuration class="vertical" *ngIf="selectedToolName === 'line'"></app-line-tool-configuration>
        <div class="vertical">
            <div class="colour-section">
                <mat-label>Couleur: </mat-label>
                <app-colours class="vertical"></app-colours>
            </div>
        </div>
    </div>
</div>
