<div class="container vertical">
    <div class="navbar-section vertical">
        <button mat-icon-button aria-label="Accueil" matTooltip="Accueil" matTooltipPosition="right" routerLink="/home">
            <mat-icon>home</mat-icon>
        </button>
        <button
            mat-icon-button
            aria-label="Créer un nouveau dessin"
            matTooltip="Créer un nouveau dessin"
            matTooltipPosition="right"
            (click)="createNewDrawing()"
            [disabled]="this.drawingService.canvasIsEmpty">
            <mat-icon>add_box</mat-icon>
        </button>

        <button
            mat-icon-button
            matTooltip="Sélectionner toute la surface de dessin (Ctrl+a)"
            matTooltipPosition="right"
            (click)="selectTheEntireCanvas()">
        <mat-icon> select_all </mat-icon>
        </button>
    </div>

    <mat-divider></mat-divider>

    <div class="navbar-section vertical">
        <button
            *ngFor="let toolName of toolNames"
            [ngClass]="{ selected: selectedToolName === toolName }"
            (click)="selectTool(toolName)"
            mat-icon-button
            [matTooltip]="getTooltipInfo(toolName)"
            matTooltipPosition="right">
            <mat-icon [svgIcon]="getIconName(toolName)"></mat-icon>
        </button>
    </div>
</div>
