.colours-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.primary-colour-item,
.secondary-colour-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.previous-colours-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.previous-colour {
    margin-top: 25px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;
}
