<div class="previous-colours-container" onContextMenu="return false">
    <div
        class="previous-colour mat-elevation-z2"
        *ngFor="let color of previousColours"
        [matTooltip]="'#' + color.toStringHex()"
        matRipple
        [style.background-color]="color.toStringRGB()"
        (click)="onPreviousColourClick($event, color)"
        (contextmenu)="onPreviousColourClick($event, color)"
    ></div>
</div>
<div class="colours-container">
    <div
        matRipple
        class="primary-colour-item"
        [matTooltip]="'Couleur primaire'"
        matTooltipPosition="above"
        [style.background-color]="primaryColour.toStringRGBA()"
        [class.mat-elevation-z12]="primaryColourSelected && showColourPicker"
        [class.mat-elevation-z2]="!primaryColourSelected || !showColourPicker"
        (click)="selectPrimaryColour()"
    ></div>
    <button class="inverserButton" mat-icon-button (click)="swapColours()" matTooltip="Inverser les couleurs" matTooltipPosition="above">
        <mat-icon>swap_horiz</mat-icon>
    </button>
    <div
        matRipple
        class="secondary-colour-item"
        [matTooltip]="'Couleur secondaire'"
        matTooltipPosition="above"
        [style.background-color]="secondaryColour.toStringRGBA()"
        [class.mat-elevation-z12]="!primaryColourSelected && showColourPicker"
        [class.mat-elevation-z2]="primaryColourSelected || !showColourPicker"
        (click)="selectSecondaryColour()"
    ></div>
</div>
