<div carousel-wrapper>
    <div carousel-images class="horizontal">
        <mat-card><app-image-details [data]="leftImage"></app-image-details></mat-card>
        <mat-card><app-image-details [data]="centerImage"></app-image-details></mat-card>
        <mat-card><app-image-details [data]="rightImage"></app-image-details></mat-card>
    </div>

    <button rotate-left mat-icon-button matTooltip="Image précédente" (click)="rotateLeft()">
        <mat-icon>navigate_before</mat-icon>
    </button>

    <button rotate-right mat-icon-button matTooltip="Image suivante" (click)="rotateRight()">
        <mat-icon>navigate_next</mat-icon>
    </button>
</div>