<div carousel-wrapper>
    <div carousel-images class="horizontal" *ngIf="drawingsToDisplay.length > 0">
        <mat-card *ngIf="drawingsToDisplay.length >= 1">
            <app-image-details [data]="leftImage" (delete)="handleDeleteImageEvent($event)"></app-image-details>
        </mat-card>
        <mat-card *ngIf="drawingsToDisplay.length >= 2">
            <app-image-details [data]="centerImage" (delete)="handleDeleteImageEvent($event)"></app-image-details>
        </mat-card>
        <mat-card *ngIf="drawingsToDisplay.length >= 3">
            <app-image-details [data]="rightImage" (delete)="handleDeleteImageEvent($event)"></app-image-details>
        </mat-card>
    </div>

    <div carousel-images *ngIf="drawingsToDisplay.length === 0">
        <h1>Aucun dessin à charger</h1>
    </div>

    <button rotate-left mat-icon-button matTooltip="Image précédente" (click)="rotateLeft()" *ngIf="drawingsToDisplay.length > 3">
        <mat-icon>navigate_before</mat-icon>
    </button>

    <button rotate-right mat-icon-button matTooltip="Image suivante" (click)="rotateRight()" *ngIf="drawingsToDisplay.length > 3">
        <mat-icon>navigate_next</mat-icon>
    </button>
</div>