<div class="vertical">
    <h3>Sélectionnez une image</h3>

    <div>
        <app-image-carousel *ngIf="!isLoadingDrawings"
                            [drawings]="drawings"
                            (deleteImage)="handleDeleteImageEvent($event)">
        </app-image-carousel>

        <mat-spinner *ngIf="isLoadingDrawings" class="center"></mat-spinner>
    </div>

    <mat-divider></mat-divider>

    <app-filter-label [availableLabels]="labels" (filterAddEvent)="addFilter($event)" (filterRemoveEvent)="removeFilter($event)"></app-filter-label>

    <mat-divider></mat-divider>

    <div>
        <button mat-raised-button color="primary" matDialogClose class="right">Fermer</button>
    </div>
</div>