#container{
    margin-top: 9%;
}
.clipboardButton{
    margin-right: 18px;
    background: none;
	border: none;
    user-select: none;
}

.clipboardButton{
    transition: ease 500ms;
    opacity: 1;
}

.clipboardButton.disabled{
    transition: ease 500ms;
    opacity: 0.25;
}

.lastButton{
    margin-right: 0;
}

#delete{
    margin-right: 0;
}
