<app-resizable-tool-configuration [toolService]="sprayService"></app-resizable-tool-configuration>

<div class="vertical">
    <mat-label class="margin-bottom-small">Distance des points</mat-label>
    <mat-slider thumbLabel
                matTooltip="Distance des points"
                matTooltipPosition="right"
                step="1"
                min="1"
                max="50"
                [value]="diameterChange"
                (valueChange)="onDiameterPointChange($event)">
    </mat-slider>
</div>

<div class="vertical">
    <mat-label class="margin-bottom-small">Nombre de points par seconde</mat-label>
    <mat-slider thumbLabel
                matTooltip="Nombre de points par seconde"
                matTooltipPosition="right"
                step="1"
                min="1"
                max="300"
                [value]="numberChange"
                (valueChange)="onNumberPointChange($event)">
    </mat-slider>
</div>