<div class="vertical">
    <mat-label class="margin-bottom-small">Diamètre des goutte de peinture</mat-label>
    <mat-slider thumbLabel
                matTooltip="Diamètre des goutte de peinture"
                matTooltipPosition="right"
                step="1"
                min="1"
                max="50"
                [value]="dropDiameter"
                (valueChange)="onDropDiameterChange($event)">
    </mat-slider>
</div>

<div class="vertical">
    <mat-label class="margin-bottom-small">Diamètre du jet</mat-label>
    <mat-slider thumbLabel
                matTooltip="Diamètre du jet"
                matTooltipPosition="right"
                step="1"
                min="1"
                max="100"
                [value]="jetDiameter"
                (valueChange)="onJetDiameterChange($event)">
    </mat-slider>
</div>

<div class="vertical">
    <mat-label class="margin-bottom-small">Nombre de gouttes par seconde</mat-label>
    <mat-slider thumbLabel
                matTooltip="Nombre de gouttes par seconde"
                matTooltipPosition="right"
                step="10"
                min="1"
                max="500"
                [value]="nbDropsPerSecond"
                (valueChange)="onNbDropsPerSecondChange($event)">
    </mat-slider>
</div>