<div class="container sidebar-container">
    <button mat-icon-button aria-label="Accueil" matTooltip="Accueil" matTooltipPosition="right">
        <mat-icon>home</mat-icon>
    </button>
    <mat-divider></mat-divider>
    <button *ngFor="let toolName of toolNames"
            [ngClass]="{selected: selectedToolName === toolName}"
            (click)="selectTool(toolName)"
            mat-icon-button
            [matTooltip]="getDisplayName(toolName)"
            matTooltipPosition="right">
        <mat-icon>edit</mat-icon>
    </button>
</div>
