<div    
        *ngIf="showControlPoint"
        id="rightMiddle"
        class="resizingButton"
        draggable="false"
        [style.top.px]="(this.selectionManipulator.bottomRight.y+this.selectionManipulator.topLeft.y)/2"
        [style.left.px]="this.selectionManipulator.bottomRight.x"
        [ngStyle]="{ cursor: 'ew-resize' }"
        (mousedown)="setResizingMode(resizingMode.towardsRight)"
        (mouseup)="setResizingMode(resizingMode.off)"
    >
</div>

<div    
        *ngIf="showControlPoint"
        id="leftMiddle"
        class="resizingButton"
        draggable="false"
        [style.top.px]="(this.selectionManipulator.bottomRight.y+this.selectionManipulator.topLeft.y)/2"
        [style.left.px]="this.selectionManipulator.topLeft.x"
        [ngStyle]="{ cursor: 'ew-resize' }"
        (mousedown)="setResizingMode(resizingMode.towardsLeft)"
        (mouseup)="setResizingMode(resizingMode.off)"
    >
</div>
    
<div    
        *ngIf="showControlPoint"
        id="topMiddle"
        class="resizingButton"
        draggable="false"
        [style.top.px]="this.selectionManipulator.topLeft.y"
        [style.left.px]="(this.selectionManipulator.bottomRight.x+this.selectionManipulator.topLeft.x)/2"
        [ngStyle]="{ cursor: 'ns-resize' }"
        (mousedown)="setResizingMode(resizingMode.towardsTop)"
        (mouseup)="setResizingMode(resizingMode.off)"
    >
</div>

<div    
        *ngIf="showControlPoint"
        id="bottomMiddle"
        class="resizingButton"
        draggable="false"
        [style.top.px]="this.selectionManipulator.bottomRight.y"
        [style.left.px]="(this.selectionManipulator.bottomRight.x+this.selectionManipulator.topLeft.x)/2"
        [ngStyle]="{ cursor: 'ns-resize' }"
        (mousedown)="setResizingMode(resizingMode.towardsBottom)"
        (mouseup)="setResizingMode(resizingMode.off)"
    >
</div>

<div    
        *ngIf="showControlPoint"
        id="topRight"
        class="resizingButton"
        draggable="false"
        [style.top.px]="this.selectionManipulator.topLeft.y"
        [style.left.px]="this.selectionManipulator.bottomRight.x"
        [ngStyle]="{ cursor: (!isXRev() && !isYRev()) || (isXRev() && isYRev())  ? 'nesw-resize': 'nwse-resize' }"
        (mousedown)="setResizingMode(resizingMode.towardsTopRight)"
        (mouseup)="setResizingMode(resizingMode.off)"
    >
</div>

<div    
        *ngIf="showControlPoint"
        id="bottomRight"
        class="resizingButton"
        draggable="false"
        [style.top.px]="this.selectionManipulator.bottomRight.y"
        [style.left.px]="this.selectionManipulator.bottomRight.x"
        [ngStyle]="{ cursor: (!isXRev() && !isYRev()) || (isXRev() && isYRev())  ? 'nwse-resize': 'nesw-resize' }"
        (mousedown)="setResizingMode(resizingMode.towardsBottomRight)"
        (mouseup)="setResizingMode(resizingMode.off)"
    >
</div>

<div    
        *ngIf="showControlPoint"
        id="topLeft"
        class="resizingButton"
        draggable="false"
        [style.top.px]="this.selectionManipulator.topLeft.y"
        [style.left.px]="this.selectionManipulator.topLeft.x"
        [ngStyle]="{ cursor: (!isXRev() && !isYRev()) || (isXRev() && isYRev())  ? 'nwse-resize': 'nesw-resize' }"
        (mousedown)="setResizingMode(resizingMode.towardsTopLeft)"
        (mouseup)="setResizingMode(resizingMode.off)"
    >
</div>

<div    
        *ngIf="showControlPoint"
        id="bottomLeft"
        class="resizingButton"
        draggable="false"
        [style.top.px]="this.selectionManipulator.bottomRight.y"
        [style.left.px]="this.selectionManipulator.topLeft.x"
        [ngStyle]="{ cursor: (!isXRev() && !isYRev()) || (isXRev() && isYRev())  ? 'nesw-resize': 'nwse-resize' }"
        (mousedown)="setResizingMode(resizingMode.towardsBottomLeft)"
        (mouseup)="setResizingMode(resizingMode.off)"
    >
</div>
    