<div (click)="loadImage()" *ngIf="data != undefined">
    <div class="vertical">
        <p>{{ data.name }}</p>

        <div class="image-container">
            <img [src]="imageSrc" [width]="imageWidth" [height]="imageHeight">
        </div>

        <button mat-icon-button aria-label="Supprimer" matTooltip="Supprimer" (click)="deleteImage($event)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>

    <mat-divider></mat-divider>

    <div class="margin-top-small">
        <mat-chip *ngFor="let label of data.labels">{{ label }}</mat-chip>
    </div>
</div>
