<div class="vertical">
    <mat-label class="margin-bottom-small">Taille de l'étampe</mat-label>
    <mat-slider
        thumbLabel
        [matTooltip]="info"
        step="10"
        min="10"
        max="500"
        [value]="imageSize"
        (valueChange)="stampTool.changeSize($event)"
    ></mat-slider>
    <mat-slider
        thumbLabel
        [matTooltip]="infoAngle"
        step="15"
        min="0"
        max="360"
        [value]="angle"
        (valueChange)="stampTool.changeAngle($event)"
    ></mat-slider>
    <img src="./assets/icons/black-stamp.svg" (click)="stampTool.selectStamp($event)" />
    <img src="./assets/icons/stamp1.svg" (click)="stampTool.selectStamp($event)" />
    <img src="./assets/icons/stamp2.svg" (click)="stampTool.selectStamp($event)" />
    <img src="./assets/icons/stamp3.svg" (click)="stampTool.selectStamp($event)" />
    <img src="./assets/icons/stamp4.svg" (click)="stampTool.selectStamp($event)" />
</div>
