img {
    cursor: pointer;
    width: 32px;
    height: 32px;
    float: left;
}
.stampImage {
    float: left;
    padding: 5px;
}
.clearfix::after {
    content: '';
    clear: both;
    display: table;
}
.borderWall {
    border: 0.5px solid rgb(230, 255, 6);
    border-radius: 15%;
}
